.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 0 20px; 
  background:
    linear-gradient(to bottom, rgba(49, 12, 81, 0.8), rgba(49, 12, 81, 0.8)), 
    radial-gradient(circle, #1F0714 26%, #BB16D1 67%, #FF0C0C 88%); 
  background-size: auto, auto; 
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-wrap: wrap;
}

.logo {
  font-family: 'Island Moments', cursive; 
  font-size: 30px;
  color: white; 
}

.search-bar {
  width: 470px;
  height: 50px;
  background-color: white;
  border-radius: 10px; 
  box-shadow: 8px 7px 3px #998888; 
  display: flex;
  align-items: center;
  padding: 0 20px; 
}

.search-bar input[type="text"] {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px; 
  padding-left: 10px; 
}

.search-bar input::placeholder {
  color: #ccc; /* Color del placeholder */
}

.user-icon {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon svg {
  width: 100%;
  height: 100%;
  fill: var(--accent-color); /* Usa la variable para el color del icono */
}