<div class="vista">
    <app-navbar></app-navbar>
    
    <div class="contenido">
        <div class="reserva">
            <h3>Tu Reserva</h3>
            <div *ngIf="asientosSeleccionados.length > 0">
                <h4>Asientos seleccionados:</h4>
                <ul>
                    <li *ngFor="let asiento of asientosSeleccionados">
                        Zona: {{asiento.zona}} - Fila {{asiento.ejeX}}, Asiento {{asiento.ejeY}} - Precio: {{asiento.precio | number:'1.2-2'}}€
                        <button class="btn-eliminar" (click)="eliminarAsiento(asiento)">✕</button>
                    </li>
                </ul>
                <p>Total: {{calcularTotal() | number:'1.2-2'}}€</p>
            </div>
            <p *ngIf="asientosSeleccionados.length === 0">
                No has seleccionado ningún asiento todavía.
            </p>
            <button [disabled]="asientosSeleccionados.length === 0">Confirmar Reserva</button>
        </div>
        <div class="titulo">
            <p> {{ datosEvento?.evento?.titulo }}</p>
        </div>

        <div class="mapa">
            <app-asientos *ngIf="datosEvento"
                [asientos]="datosEvento?.asientos || []"
                (asientosSeleccionadosChange)="onAsientosSeleccionados($event)">
            </app-asientos>
        </div>

        <div class="informacion">
            <div class="portada-establecimiento-card">
                <img [src]="datosEvento?.establecimiento?.imagen" alt="Portada de estableciemiento">
            </div>
            <div class="nombre-establecimiento">
                <h3> {{datosEvento?.establecimiento?.nombre }} </h3>
            </div>
            <div class="informacion-contenido">
                <p>Seccion de informacion sobre de evento</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, dicta vitae id omnis sed quasi
                    inventore
                    tempora aut! Tempora repellendus, molestiae consectetur voluptas laborum soluta et! Nesciunt
                    laboriosam
                    porro magnam.
                    Consectetur voluptatum, perferendis doloremque sapiente eius enim cumque dolores, fugiat, culpa
                    temporibus nihil obcaecati natus provident ipsum deserunt saepe quis reprehenderit repellendus iure
                    qui
                    mollitia exercitationem quaerat. Excepturi, nihil quos.
                    Quos minus voluptatum quibusdam repellat ut. Impedit quis dicta corrupti amet? Nobis cupiditate
                    rerum
                    similique quidem accusantium, consequatur excepturi doloremque eum aut dolorem quis voluptas, iure
                    blanditiis! Autem, reiciendis velit!
                    Quaerat explicabo perspiciatis suscipit neque nisi commodi, earum nihil adipisci ipsa quis
                    necessitatibus ducimus? Iste, ipsum. Dolor cupiditate nisi iure, nemo rerum harum cumque explicabo?
                    Fugit laudantium unde excepturi quis.
                    Hic sint rem sit quasi doloremque fugiat qui architecto ea at. Velit corporis, id dicta aut hic
                    facere
                    tenetur temporibus sequi. Similique quas placeat soluta rerum quaerat corporis ea quam!
                    lorem*2
                </p>
            </div>
        </div>

        <div class="comentarios">
            <h3>COMENTARIOS</h3>
            <div class="caja-comentario">
                <div class="header-caja_comentario">
                    <div class="persona-comentario">
                        <div class="perfil-comentario">
                            <img src="images/profile.png" alt="foto perfil">
                        </div>
                        <div class="nombre-comentario">
                            Antonio
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="descripcion-comentario">
                    <div class="valoracion-comentario">
                        ⭐⭐⭐⭐⭐
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ullam pariatur architecto iure
                        tempore laudantium animi nihil a quis, asperiores blanditiis quod voluptatum natus recusandae.
                        Pariatur quae ad esse eaque.

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ullam pariatur architecto iure
                        tempore laudantium animi nihil a quis, asperiores blanditiis quod voluptatum natus recusandae.
                        Pariatur quae ad esse eaque.
                    </p>
                </div>
            </div>
            <div class="caja-comentario">
                <div class="header-caja_comentario">
                    <div class="persona-comentario">
                        <div class="perfil-comentario">
                            <img src="images/profile.png" alt="foto perfil">
                        </div>
                        <div class="nombre-comentario">
                            Antonio
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="descripcion-comentario">
                    <div class="valoracion-comentario">
                        ⭐⭐⭐⭐⭐
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ullam pariatur architecto iure
                        tempore laudantium animi nihil a quis, asperiores blanditiis quod voluptatum natus recusandae.
                        Pariatur quae ad esse eaque.

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ullam pariatur architecto iure
                        tempore laudantium animi nihil a quis, asperiores blanditiis quod voluptatum natus recusandae.
                        Pariatur quae ad esse eaque.
                    </p>
                </div>
            </div>
            <div class="caja-comentario">
                <div class="header-caja_comentario">
                    <div class="persona-comentario">
                        <div class="perfil-comentario">
                            <img src="images/profile.png" alt="foto perfil">
                        </div>
                        <div class="nombre-comentario">
                            Antonio
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="descripcion-comentario">
                    <div class="valoracion-comentario">
                        ⭐⭐⭐⭐⭐
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ullam pariatur architecto iure
                        tempore laudantium animi nihil a quis, asperiores blanditiis quod voluptatum natus recusandae.
                        Pariatur quae ad esse eaque.

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ullam pariatur architecto iure
                        tempore laudantium animi nihil a quis, asperiores blanditiis quod voluptatum natus recusandae.
                        Pariatur quae ad esse eaque.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>