<div class="landing-page">
  <div class="spotlight-container">
    <div class="spotlight spotlight-left" style="--angle: 50deg;"></div>
    <div class="spotlight spotlight-right" style="--angle: -50deg;"></div>
    <div class="spotlight spotlight-semi-left" style="--angle: 104deg;"></div>
    <div class="spotlight spotlight-semi-right" style="--angle: -104deg;"></div>
  </div>
  
  <app-navbar></app-navbar>
  <h1 class="my-animated-title large grid centered square-grid text-xl">
    <span *ngFor="let letter of letters" class="letter">{{ letter === ' ' ? '&nbsp;' : letter }}</span>
  </h1>
  <div class="ante-container">
    <div class="recomendaciones">
      <h3>Nuestras Recomendaciones</h3>
    </div>
    <div class="container">
      <div class="cards-container">
        <div *ngFor="let evento of cards" class="relative-cta">
          <div class="cards">
            <div class="event-details">
              <h3 class="event-title">{{ evento.titulo }}</h3>
              <p class="event-description">{{ evento.descripcion | acortarDescripcion: 10 }}</p>
            </div>
            <img class="event-image" [src]="evento.portada" [alt]="evento.titulo" />
          </div>
          <button class="call-to-action" [routerLink]="['/evento', evento.idEve]"> ⬊ </button>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>