.landing-page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar"
    "content"
    "footer";
  min-height: 100vh;
  min-width: fit-content;
  background-color: var(--background-color);
  background-image: radial-gradient(rgba(255,255,255,0.04) 1px, transparent 1px);
  background-size: 24px 24px;
  position: relative;
  overflow: hidden;
}

h2 span {
  display: inline-block;
  will-change: transform;
  color: yellow;
}

app-navbar {
  grid-area: navbar;
  color: white;
}

/* .telon{
  color: aliceblue;
  z-index: 46;
  position: absolute;
} */

.landing-page__recommendations {
  padding-top: 100px;
  color: var(--dorado);
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.5),
    0 0 20px rgba(255, 215, 0, 0.3),
    0 0 30px rgba(255, 215, 0, 0.2);
  animation: brillar 2s ease-in-out infinite;
}

@keyframes brillar {
  0% {
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.5),
      0 0 20px rgba(255, 215, 0, 0.3),
      0 0 30px rgba(255, 215, 0, 0.2);
  }

  50% {
    text-shadow: 0 0 20px rgba(255, 215, 0, 0.7),
      0 0 30px rgba(255, 215, 0, 0.5),
      0 0 40px rgba(255, 215, 0, 0.3);
  }

  100% {
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.5),
      0 0 20px rgba(255, 215, 0, 0.3),
      0 0 30px rgba(255, 215, 0, 0.2);
  }
}

.landing-page__container {
  grid-area: content;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  scale: 0.9;
}

.landing-page__cards-container {
  display: flex;
  justify-content: center;
  gap: 29px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
}

.landing-page__card {
  aspect-ratio: 4 / 3;
  width: 367px;
  height: 340px;
  border-radius: 25px 25px 120px 25px;
  box-shadow: 11px 8px 0px 0px #b41b1d4e;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 6;
  transition: box-shadow 0.3s ease;
}

.landing-page__card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px 25px 120px 25px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  transition: transform 0.3s ease;
}

.landing-page__card:hover {
  /* background-size: auto, 160%; */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.landing-page__card-wrapper {
  position: relative;
}

.landing-page__card-details {
  position: relative;
  z-index: 2;
  padding: 15px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.85), transparent);
  height: 100%;
  align-content: end;
}

.landing-page__card-title {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.landing-page__card-description {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--secondary-color);
  line-height: 1.5;
}

.landing-page__card-details:hover + .landing-page__card-image {
  transform: scale(1.2);
}

.landing-page__card:hover .landing-page__card-image {
  transform: scale(1.1);
}

.landing-page__cta {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--dorado);
  /* color: rgb(0, 0, 0); */
  padding: 15px 30px;
  border: none;
  border-radius: 20px 0 10px 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 20;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  /* height: 60px; */
  /* width: 60px; */
  box-shadow: inset -18px -14px 8px 20px var(--dorado);
  height: 80px;
  width: 80px;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 10%);
  transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  /* color: transparent; */

  padding: 0 0 2px 0;

}

.landing-page__cta:hover {
  box-shadow: inset 20px 18px 20px 20px #000000;
  transform: translateY(-2px);
  color: var(--secondary-color);
  padding: 0 9px 7px 0;
  justify-content: end;
  align-items: flex-end;
}

.landing-page__cta::after {
  content: '';
}

app-footer {
  grid-area: footer;
  color: white;
  text-align: center;
}

.landing-page__title {
  font-size: 3em;
  /* Ajusta el tamaño de la fuente */
  text-align: center;
  white-space: pre;
  /* Esto ayuda a mantener los espacios, aunque con &nbsp; es menos crítico */
  color: aliceblue;
}

.landing-page__title-letter {
  display: inline-block;
  /* Crucial para animar transformaciones */
  position: relative;
  /* Si vas a usar transformaciones como translateY, es buena práctica */
  /* Puedes añadir un margen pequeño si quieres más separación entre letras */
  /* margin: 0 2px; */
}

.landing-page__spotlight-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
}

/* Estilo general de los haces de luz */
.landing-page__spotlight {
  position: absolute;
  width: 10%;
  height: 150%;
  background: linear-gradient(180deg,
      rgba(214, 214, 213, 0.2) 0%,
      rgba(214, 214, 213, 0.3) 50%,
      rgba(214, 214, 213, 0.7) 100%);
  transform-origin: bottom center;
  filter: blur(40px);
  opacity: 0.2;
  animation: beamMove 8s ease-in-out infinite;
  /* margin-left: 100px; */
}

/* Spotlight izquierdo */
.landing-page__spotlight--left {
  left: 0;
  bottom: -10%;
  transform: rotate(-25deg);
  animation-delay: 0s;
}

/* Spotlight derecho */
.landing-page__spotlight--right {
  right: 0;
  bottom: -10%;
  transform: rotate(25deg);
  animation-delay: -4s;
}

.landing-page__spotlight--semi-left {
  left: -9%;
  bottom: 86%;
  transform: rotate(-25deg);
  animation-delay: 0s;
}

.landing-page__spotlight--semi-right {
  right: -7%;
  bottom: 85%;
  transform: rotate(25deg);
  animation-delay: -4s;
}

@keyframes beamMove {
  0%,
  100% {
    opacity: 0.2;
    transform: scale(1) rotate(var(--angle));
  }

  50% {
    opacity: 0.35;
    transform: scale(1.05) rotate(calc(var(--angle) + 3deg));
  }
}