<div class="landing-page">
  <app-navbar></app-navbar>
  <h2  class="large grid centered square-grid text-xl">
    <span>H</span>
    <span>E</span>
    <span>L</span>
    <span>L</span>
    <span>O</span>
    <span>&nbsp;</span>
    <span>W</span>
    <span>O</span>
    <span>R</span>
    <span>L</span>
    <span>D</span>
  </h2>
  <!--   <div class="telon">
    <div>telon</div>
    <div>telon</div>
    <div>telon</div>
    <div>telon</div>
    <div>telon</div>
    <div>telon</div>
  </div> -->
  <div class="ante-container">
    <div class="recomendaciones">
      <h3>Nuestras Recomendaciones</h3>
    </div>
    <div class="container">
      <div class="cards-container">
        <div *ngFor="let evento of cards" class="relative-cta">
          <div class="cards" >
          
            <img class="event-image" [src]="evento.portada" [alt]="evento.titulo" />
             
            <div class="event-details">
              <h3 class="event-title">{{ evento.titulo }}</h3>
              <p class="event-description">{{ evento.descripcion | acortarDescripcion: 10 }}</p>
            </div>
          </div>
          <button class="call-to-action" [routerLink]="['/evento', evento.idEve]"></button>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>