<div class="landing-page">
  <div class="landing-page__spotlight-container">
    <div class="landing-page__spotlight landing-page__spotlight--left" style="--angle: 50deg;"></div>
    <div class="landing-page__spotlight landing-page__spotlight--right" style="--angle: -50deg;"></div>
    <div class="landing-page__spotlight landing-page__spotlight--semi-left" style="--angle: 104deg;"></div>
    <div class="landing-page__spotlight landing-page__spotlight--semi-right" style="--angle: -104deg;"></div>
  </div>
  
  <app-navbar></app-navbar>
  <h1 class="landing-page__title large grid centered square-grid text-xl">
    <span *ngFor="let letter of letters" class="landing-page__title-letter">{{ letter === ' ' ? '&nbsp;' : letter }}</span>
  </h1>
  <div class="ante-container">
    <div class="landing-page__recommendations">
      <h3>Nuestras Recomendaciones</h3>
    </div>
    <div class="landing-page__container">
      <div class="landing-page__cards-container">
        <div *ngFor="let evento of cards" class="landing-page__card-wrapper">
          <div class="landing-page__card">
            <div class="landing-page__card-details">
              <h3 class="landing-page__card-title">{{ evento.titulo }}</h3>
              <p class="landing-page__card-description">{{ evento.descripcion | acortarDescripcion: 10 }}</p>
            </div>
            <img class="landing-page__card-image" [src]="evento.portada" [alt]="evento.titulo" />
          </div>
          <button class="landing-page__cta" [routerLink]="['/evento', evento.idEve]"> ⬊ </button>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>