/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* reset.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: sans-serif;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul, ol {
    list-style: none;
  }
  
  /* variables globales*/
  :root {
    --background-color: #F9E8D9;
    --primary-color: #520E8D;
    --primary-color-rgb: 82, 14, 141;
    --secondary-color: #383B6C;
    --accent-color: #E8B931;
  }