/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* reset.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: sans-serif;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul, ol {
    list-style: none;
  }
  
  /* variables globales*/
  :root {
    --background-color: #F9E8D9;
    --primary-color: #520E8D;
    --primary-color-rgb: 82, 14, 141;
    --secondary-color: #383B6C;
    --accent-color: #E8B931;
    --grandient-card: linear-gradient(to left, #520E8D, #FFFFFF);
    --grandient-card-reverse: linear-gradient(to right, #520E8D, #FFFFFF);
    --grandient-card-to-top: linear-gradient(to top, #520E8D, #FFFFFF);
    --grandient-card-to-bot: linear-gradient(to bottom, #520E8D, #FFFFFF);
    --rounded: 28px;
    --shadows-box: 3px 3px gray;
  }


  /* template generico */

  .vista {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
  min-height: 100vh;
  background-color: var(--background-color);

}
app-navbar {
  color: #e0e0e0;
}
app-eventos-card {
  grid-area: content;
  color: white;
  text-align: center;
  min-width: 100%;
  margin: auto;
  max-width: 90%;
}
app-footer {
  grid-area: footer;
  color: white;
  text-align: center;
}