.eventos {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "content"
        "footer";
    min-height: 100vh;
    background-color: var(--background-color);
}

.header {
    grid-area: header;
}

app-eventos-card {
    grid-area: content;
    color: white;
    text-align: center;
    min-width: 100%;
    margin: auto;
    max-width: 90%;
}

app-footer {
    grid-area: footer;
    color: white;
    text-align: center;
}