<div class="vista">
    <div class="header">
        <app-navbar></app-navbar>
    </div>
    <div class="about-container">

        <div class="paco about-card">
            <div class="about-card-header">
                <img src="assets/images/francisco.jpg" alt="Francisco López">
                <h1>Francisco López</h1>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>

        </div>
        <div class="toni about-card">
            <div class="about-card-header">
                <img src="assets/images/toni.jpg" alt="Antonio Heredia">
                <h1>Antonio Heredia</h1>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>

        </div>
        <div class="proyecto-descripcion about-card">
            <h1>Proyecto</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>

        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>

