<p class="escenario">ESCENARIO</p>
<div *ngIf="asientos?.length">
  <div class="mapa-asientos">
    <div *ngFor="let asiento of asientos; let i = index" 
         class="asiento" 
         [ngClass]="{'libre': asiento.estado === 'libre', 
                    'ocupado': asiento.estado === 'ocupado',
                    'seleccionado': estaSeleccionado(asiento)}"
         [style.gridColumn]="asiento.ejeX - 2"
         [style.gridRow]="asiento.ejeY" 
         [title]="'Zona: ' + asiento.zona + ', Precio: ' + asiento.precio"
         (click)="selecionarAsiento(asiento)"
         (mouseenter)="mostrarImagen($event, asiento)"
         (mouseleave)="ocultarImagen()">
      {{asiento.zona}}
      <br>    
      {{ asiento.ejeX + "-" + asiento.ejeY }}
    </div>
  </div>
</div>

<div *ngIf="!asientos?.length">
  <p>No hay asientos disponibles.</p>
</div>

<!-- Tooltip con imágenes de comentarios -->
<div class="tooltip-imagen" *ngIf="mostrarTooltip" [style.left.px]="tooltipX" [style.top.px]="tooltipY">
  <div class="tooltip-contenido">
    <div *ngFor="let comentario of comentariosAsiento" class="imagen-comentario">
      <img [src]="comentario.foto" [alt]="'Comentario de ' + comentario.usuario?.nombre">
      <div class="info-comentario">
        <p class="usuario">{{comentario.usuario?.nombre}} {{comentario.usuario?.apellido}}</p>
        <p class="valoracion">⭐ {{comentario.valoracion}}</p>
      </div>
    </div>
  </div>
</div>

<!-- Formulario de comentarios -->
<app-comentario-form 
  *ngIf="asientoSeleccionado"
  [asientoSeleccionado]="asientoSeleccionado"
  (comentarioCreado)="onComentarioCreado()">
</app-comentario-form>