<nav class="navbar">
  <span class="logo"> <a routerLink="/" class="nav-link">searchlookfor</a></span>
  <div class="search-bar">
    <input type="text" placeholder="Buscar...">
  </div>
  <div class="menu">
    <div>
      <span><a routerLink="/" class="nav-link">Home</a>  </span>
    </div>
    <div>
      <span><a routerLink="/eventos" class="nav-link">Eventos</a>  </span>
    </div>
    <div>
      <span><a routerLink="/about" class="nav-link">Sobre SLF</a>  </span>
    </div>
    <div class="user-icon">
      <a (click)="navigateToUserOrRegister()" style="cursor: pointer;">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24">
          <path fill="#E8B931" d="M12 4a4 4 0 0 1 4 4 4 4 0 0 1-4 4 4 4 0 0 1-4-4 4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4z"/>
        </svg>
      </a>
    </div>
  </div>
</nav>